<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Clubs</title>
</head>
<body>
    <h1>Liste des clubs</h1>
    <table>
        <thead>
            <tr>
                <th>Nom du club</th>
                <th>Nombre de points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club['name'] }}</td>
                    <td>{{ club['points'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>{{ club_not_found_error_message }}</p>
</body>
</html>